<%- include("partials/header"); -%>

<h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, voluptatem atque. Repudiandae deleniti autem earum dolor. Sequi officiis harum nam!</h2>

<%- include("partials/footer"); -%>